$button-background-color: none;
$button-border-width: 0;

.raise {
  transition: transform 0.3s ease-in-out;
  &:hover,
  &:focus {
    transform: translateY(-0.4em);
  }
}

.twitter--icon {
  color: #00aced;
}

.linkedin--icon {
  color: #0077b5;
}

.background--div {
  overflow: hidden;
  background-position: 50%;
  background-size: cover;
  position: absolute;
  height: 100vh;
  width: 50vw;
  z-index: -1;
  right: 0;
}

.background--img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.unsplash {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 50vw;
  background-color: rgba($color: #000000, $alpha: 0.5);
  text-align: right;
}

.unsplash--link {
  color: white;
  padding: 4px 6px;
  font-size: 0.8em;
  line-height: 1.2;

  &:hover,
  &:focus {
    color: white;
  }
}

@media (max-width: 50rem) {
  .background--div {
    width: 100vw;
  }

  .unsplash {
    width: 100vw;
  }
}

// @import "~@fortawesome/fontawesome/styles.css";
// @import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
// @import "~@fortawesome/fontawesome-free/scss/solid.scss";
// @import "~@fortawesome/fontawesome-free/scss/brands.scss";
// @import "bulma/css/bulma.css";

@import "~bulma/bulma.sass";

.container {
  margin-bottom: 10rem;
}
